.env/
__pycache__/
*.pyc
*.pyo
.DS_Store

data/
logs/
videos/
yolov8n.pt
*.cache

models/**/**/*_steps.zip
models/**/**/*_replay_buffer*.pkl
models/yolo/**/weights/last.pt
models/yolo/object_detector/*.png
models/yolo/object_detector/*.jpg
models/yolo/object_detector/results.csv
models/yolo/object_detector/args.yaml
